{{template "header.html"}}
    <header>
        <h1 align="center">Список авиарейсов</h1>
        <table class="table table-hover">
            <tr>
                 <th>ID</th>
                 <th>Source</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Price</th>
            </tr>
            <!--проходим масив проходит и отдает инф в браузер-->
            {{range .List}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Source}}</td>
                    <td>{{.Destination}}</td>
                    <td>{{.When}}</td>
                    <td>{{.Price}}</td>
                </tr>
            {{end}}
        </table>
        <p align="center">{{range .Pages}}
                <a href="/?p={{.}}" class="btn btn-info">{{.}}</a>
            {{end}}
        </p>
    </header>
{{template "footer.html"}}