{{template "header.html"}}
<div class="container">
        <h1 align="center">Список авиарейсов</h1>
        <form action="/search" method="post" align="center"  >
            <div class="row">
                <div class="form-group col-sm-3">
                    <input type="text" name="source" placeholder="Source"  class="form-control"  value="{{.Source}}">
                </div>
                <div class="form-group col-sm-3">
                    <input type="text" name="destination" placeholder="Destination" class="form-control" value="{{ .Destination }}">
                </div>
                <div class="form-group col-sm-3">
                    <input type="text" name="date111" placeholder="When"  class="form-control"  value="{{.When}}">
                </div>
                <div class="form-group col-sm-3 text-right">
                    <button type="submit" class="btn btn-info">Search</button>
                </div>
            </div>
        </form>
        <table class="table table-hover">
            <tr>
                 <th>ID</th>
                 <th>Source</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <!--проходим масив проходит и отдает инф в браузер-->
            {{range .List}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Source}}</td>
                    <td>{{.Destination}}</td>
                    <td>{{.When}}</td>
                    <td>{{.Price}}</td>
                    <td><a href="/buy?id={{.ID}}" class="btn btn-success">BUY</a></td>
                </tr>
            {{end}}
        </table>
</div>
{{template "footer.html"}}